<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Div</title>
</head>

<body>
    <div style="color: aquamarine;">
    <header>
        <h1>Página de teste</h1>
    </header>
    </div>
    <div style="font-family: 'Times New Roman', Times, serif;">
    <section>
        <h2>Seção 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur,<br>
             adipisicing elit. Ipsum sint dolores <br>
             cupiditate veniam blanditiis numquam <br>
             porro dolorem asperiores magnam temporibus<br>
              ad deleniti, voluptate illo? Tempora<br>
               cupiditate possimus doloribus excepturi expedita!<br></p>
    </section>
</div>
    
</body>
</html>