*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
background-color: aqua;    
}
h1{
    font-size: 10px;
}
p{
    text-align: center ;
}
footer{
    text-align: center;
    background-color: #ccc;
}
a{
    text-decoration: none;
}