<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entretenimento</title>
</head>
<body>
    <!--Cabeçalho ou Início do meu site-->
    <header style="display: flex;">
        <!--Section Foto de perfil-->
        <section>
            <img src="imagem/VIkings-Logo.png" alt="Imagem de perfil" height="100px" width="160px">
        </section>
        <!--Section Informações Pessoais-->
        <section>
            <br> <br>
            &nbsp;&nbsp;&nbsp;
            Nycolas Araújo | 17 Anos | @araujo.n1 | <br>
            &nbsp;&nbsp;&nbsp; nycolas.bezerra14@gmail.com
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="mySite.html">Sobre mim</a>
        <a href="entretenimento.html">Entretenimento</a>
        <a href="musicas.html">Músicas</a>
            <hr>
    </nav>

    <!--Seção de Entretenimento-->
    <article>
        <h4>Breanking Bad</h4>
        <h5>Curto: 100/100</h5>
        <p><img src="imagem/bkbad.jfif" alt="Breaking Bad" height="140px" width="180px"></p>
        <p><strong>Breaking Bad&nbsp;(Chutar o balde):</strong>
            Fala sobre um professor do secundário com cancer de pulmão terminal.<br>
            Ele junta-se a um ex-aluno para fabricar e vender metanfetaminas <br>
            como forma de garantir o futuro da sua família.<br>
        </p>
        <p>
            Para saber mais <a href="https://www.adorocinema.com/series/serie-3517/">Clique aqui!</a>
        </p>
        <hr>
        <h4>O livro de eli</h4>
        <h5>Curto 100/100</h5>
        <p><img src="imagem/olivro de eli.jpg" alt="O livro de Eli" height="140"width="180px"></p>
        <p><strong>O livro de Eli:</strong>
            Trinta anos depois da guerra ter dizimado o mundo,<br>
             um guerreiro solitário chamado Eli caminha por horizontes<br> 
             arruinados dando esperança para os que restaram. <br>
             Apenas um outro homem compreende o poder de um<br>
              livro que Eli carrega e está determinado a se apoderar dele.<br> 
              Apesar de Eli preferir a paz, ele arriscará a <br>
              sua vida para proteger a sua carga preciosa, pois precisa<br>
               cumprir o seu destino de ajudar a restaurar a humanidade.<br>
            </p>
            <p>Para saber mais <a href="https://www.adorocinema.com/filmes/filme-128955/">Clique aqui!</a></p>
            <hr>
            <h4>Os Suspeitos</h4>
            <h5>Curto 100/100</h5>
            <p><img src="imagem/download.jfif" alt=""height="150"width="250"></p>
            <p><strong>Os Suspeitos:</strong>
                Depois que sua filha de seis anos <br>
                e uma amiga dela são sequestradas,<br>
                 Keller Dove, um carpinteiro de Boston, <br>
                 enfrenta o departamento de polícia e o <br>
                 jovem detetive encarregado do caso para<br> 
                 fazer justiça com as próprias mãos.<br></p>
                 <p>Para saber mais <a href="https://www.adorocinema.com/filmes/filme-180887/">Clique aqui!</a>
                </p>
                <hr>
                <h4>The Batman</h4>
                <h5>Curto 80/100</h5>
                <p><img src="imagem/the batman.jfif" alt="The Batman" height="150"width="250"></p>
                <p><strong>The Batman:</strong>
                    Após dois anos espreitando as ruas<br>
                     como Batman, Bruce Wayne se encontra<br>
                      nas profundezas mais sombrias de Gotham <br>
                      City. Com poucos aliados confiáveis, <br>
                      o vigilante solitário se estabelece<br>
                       como a personificação da vingança<br> 
                       para a população.<br>
                    </p>
                    <p>
                        Para saber mais <a href="https://www.adorocinema.com/filmes/filme-211012/">Clique aqui!</a>
                    </p>
    </article>
</body>
</html>