<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Cabeçalho ou inicio do meu site-->
    <header>
        <!--Section foto de perfil--> 
<section> 
    foto-de-perfil
</section>
<!--Section informações pessoais-->
<section>
    Nome | Idade | Instagram | Contato
</section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        Sobre mim | Entretenimento | Músicas
    </nav>
    <!--Estrutura principal do site-->
    <main>
        <h1>
            Conheça um pouco sobre mim
        </h1>
        <p> Olá, Meu nome é Nycolas <br>
            Gosto de jogar, <br>
            De treinar jiu-jitsu<br>
        </p>
    </main>

    
</body>
</html>