<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top trap</title>
</head>
<body>
   <!--Cabeçalho ou Início do meu site-->
   <header style="display: flex;">
    <!--Section Foto de perfil-->
    <section>
        <img src="imagem/spotify.png.png" alt="Imagem de perfil" height="80px" width="90px">
    </section>
    <!--Section Informações Pessoais-->
    <section>
        <br> <br>
        &nbsp;&nbsp;&nbsp;
        Nycolas Araújo | 17 Anos | @araujo.n1 | <br>
        &nbsp;&nbsp;&nbsp;&nbsp;nycolas.bezerra14@gmail.com
    </section>
</header>
<!--Navegação da minha página-->
<nav>
    <!--Tag <a href=""> refere-se ao link de navegação-->
        <hr>
    <a href="mySite.html">Sobre mim</a>
    <a href="entretenimento.html">Entretenimento</a>
    <a href="musicas.html">Músicas</a>
        <hr>
</nav>
<!--Aqui começa minha lista-->
<main>
    <ol>
        <li>Jovem Dex - <a href="https://www.youtube.com/watch?v=8M-ZUZnGye0"> Yakuza</a></li>
        <li>Ryu the runner - <a href="https://www.youtube.com/watch?v=owNDhwuGi5A"> Fye! feat. Niink & Veigh</a></li>
        <li>AKLIPE feat Derek - <a href="https://www.youtube.com/watch?v=HpKBpp_cGfQ">MEMÓRIA</a></li>
        <li>Recayd Mob - <a href="https://www.youtube.com/watch?v=RLTZjZOgw-4"> Lean na fanta</a></li>
        <li>Tchello - <a href="https://www.youtube.com/watch?v=myFwWPnvSWA">Injuriado</a></li>
    </ol>
</main>
<!--Rodapé-->
<footer>
    By Nycolas Araújo &copy;
</footer>
</body>
</html>