<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de tabela</title>
</head>
<body>
    <header>
        <h1>Adedonha</h1>
    </header>
    <section>
        <!--table é a tag para inicar uma tabela-->
        <table border="1">
            <!--table row <tr> para criar uma linha na tabela-->
            <tr>
                <!--table heading <th> para criar colunas de cabeçalho-->
                <th>Nome</th>
                <th>Fruta</th>
                <th>Cor</th>
                <th>Objeto</th>
                <th>Cidade</th>
                <th>Animal</th>
            </tr>
            <tr>
                <td>Alan</td>
                <td>Açaí</td>
                <td>Azul</td>
                <td>Armário</td>
                <td>Amazonas</td>
                <td>Abelha</td>
            </tr>
            <tr>
                <td>Bella</td>
                <td>Banana</td>
                <td>Branco</td>
                <td>Barcia</td>
                <td>Bágda</td>
                <td>Burro</td>
            </tr>
        </table>
    </section>
    
</body>
</html>