<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Meu primeiro comentário-->
    Olá Mundo!
    <!--Esse é um título de nível 1-->
<!--O nível 1 é o mais influênte-->
   <h1>Esse é um título nível 1</h1>
   <h2>Nível 2</h2>
   <h3>Nível 3</h3>
   <h4>Nível 4</h4>
   <!--A linha horizontal <hr>-->
   <!--Horizontal Row-->
   <hr> 
   <!--Aqui começa um parágrafo-->
   <p>
    Lorem, ipsum dolor sit 
    amet consectetur adipisicing elit. 
    Incidunt eos nesciunt quidem 
    fugiat sint commodi veritatis 
    nobis pariatur, ipsa modi nemo 
    tenetur repudiandae eum necessitatibus, 
    quia, quisquam dolores!
     Quo, exercitationem?
    
   </p>
   <hr>

<p>
    <!--testando quebra de linha e-->
    Este texto será 
    exibido todo na 
    mesma linha.
</p>
<p>Os espaços extras serão ignorados</p>
<!--Quebra de linha com <br>-->
<!--Break Row-->
<p>
    Aqui está a primeira linha. <br> E aqui está a segunda
</p>
<hr>
<!--Usando  mais de um espaço na frase-->
<p>
   &nbsp;1<br>
    &nbsp;&nbsp;2<br>
    &nbsp;&nbsp;&nbsp;3<br>
    &nbsp;&nbsp;&nbsp;&nbsp;4<br>
</p>
<hr>
<p>Escrevendo&nbsp;&nbsp;&nbsp;com &nbsp;&nbsp;&nbsp;espaços</p>
<p>Caracere menor do que: &lt;</p>
<p>Caractere maior que: &#52;</p>
<p>Caractere copyright: &copy;</p>
<p>Caractere marca registrada: &reg;</p>

<hr>
<!--Lista ordenada-->
<h3>Comidas preferidas</h3>
<ol>
    <li>
        Purê
    </li>
    <li>
        Carne
    </li>
    <li>
        Lasanha
    </li>

</ol>
<hr>
<!--Lista não ordenada-->
<h3>Gosto de lanchar</h3>
<ul>
    <li>Pepsi</li>
    <li>Biscoito</li>
    <li>Salgado</li>
</ul>
<hr>
<!--Lista Ordenada-->
<h3><li>IOS no Brasil</li></h3>
<li>RECIFE</li>
<li>Rio de janeiro</li>
<li>Minas Gerais</li>
<li>Paraná</li>
<li> Rio Grande do Sul</li>


</body>
</html>